{% extends 'home.html' %}

{% block title %}Complete Profile{% endblock %}

{% block content %}
    <h1>Complete Your Profile</h1>
    <form method="post" id="profileForm">
        {% csrf_token %}
        <div>
            <label for="id_organization_name">Organization Name:</label>
            {{ form.organization_name }}
        </div>
        <div>
            <label for="id_address">Work Address:</label>
            {{ form.address }}
        </div>
        <button type="submit">Complete Profile</button>
    </form>
{% endblock %}
